.cabecera {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 35vw;
    background-color: #0060ad;
    background-image: url(../img/cabecera-titulo.jpg);
    background-repeat: no-repeat;
    background-position: 60vw 50%;
    background-size: 30vw;
}

.cabecera-mario {
    position: absolute;
    bottom: -100%;
    left: 20vw;
    z-index: 1;
    width: 30vw;
    animation: aparecerDesdeAbajo 0.5s ease-in-out 0.5s forwards;
}

.cabecera-logo {
    position: absolute;
    z-index: 2;
    width: 20vw;
}

.personajes {
    width: 100%;
}
sdsssfsfs
.personaje {
    overflow: hidden;
    width: 90%;
    height: 15vw;
    background-color: red;
    margin-bottom: 1vw;
    padding: 1vw;
}

.personaje-imagen {
    float: left;
    display: inline-block;
    width: 25vw;
}

.personaje-descripcion {
    display: inline-block;
    float: right;
}

.personaje h3 {
    font-size: 3vw;
    color: white;
}

@keyframes aparecerDesdeAbajo {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0;
    }
}