@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Catamaran:wght@400&display=swap');

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

h2 {
    font-family: 'Bangers', cursive;
    font-size: 7vw;
    font-weight: 700;
    color: white;
    letter-spacing: .4vw;
    margin: 0 0 .2vw 0;
}

h2, h3, p {
    margin: 0;
}

p {
    font-family: 'Catamaran', sans-serif;
    line-height: 1.9vw;
}

p + p {
    margin-top: 1vw;
}

.cabecera-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 35vw;
    background-color: #0060ad;
    background-image: url(../img/cabecera-titulo.jpg);
    background-repeat: no-repeat;
    background-position: 60vw 50%;
    background-size: 30vw;
}

.cabecera-mario {
    position: absolute;
    bottom: -100%;
    left: 20vw;
    z-index: 1;
    width: 30vw;
    animation: aparecerDesdeAbajo 0.5s ease-in-out 0.5s forwards;
}

.cabecera-logo {
    position: absolute;
    z-index: 2;
    width: 20vw;
}

.personajes-container {
    width: 100%;
}

.seccion-titulo {
    padding: 2vw;
    background-color: black;
}

.personaje-container {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 4vw;
    background-color: red;
    margin-bottom: .5vw;
    padding: 2vw;
    transition: all 0.3s ease-in-out;
}

.personaje-container:hover {
    height: 25vw;
}

.personaje-container:last-child {
    margin-bottom: 0;
}

.personaje-container.mario {
    background-color: red;
}

.personaje-container.luigi {
    background-color: #2d7c0c;
}

.personaje-container.peach {
    background-color: #fa84a9;
}

.personaje-container.bowser {
    background-color: #f4db1e;
}

.personaje-container.donkeykong {
    background-color: #80420e;
}

.personaje-container.donkeykong .personaje-imagen {
    bottom: -2vw;
}

.personaje-container.bowser .personaje-imagen {
    bottom: -2vw;
}

.personaje-container:hover .personaje-imagen {
    width: 44vw;
    left: -6vw;
}

.personaje-container.donkeykong:hover .personaje-imagen {
    width: 42vw;
    left: -12vw;
    bottom: 0;
}

.personaje-container.bowser:hover .personaje-imagen {
    width: 36vw;
    left: -6.5vw;
    bottom: 0;
}

.personaje-imagen {
    position: absolute;
    bottom: 0;
    left: 2vw;
    width: 20vw;
    transition: all 0.3s ease-in-out;
}

.personaje-descripcion {
    float: left;
    width: 65vw;
    padding-left: 27vw;
}

.personaje-descripcion h3 {
    font-family: 'Bangers', cursive;
    font-size: 5vw;
    font-weight: 700;
    color: white;
    letter-spacing: .4vw;
    margin: 0 0 1vw 0;
}

.personaje-descripcion p {
    font-family: 'Catamaran', sans-serif;
    font-size: 1.4vw;
    color: white;
    line-height: 1.9vw;
}

.juego {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    float: left;
    width: 25%;
}

.juego h3 {
    font-family: 'Bangers', cursive;
    font-size: 2vw;
    font-weight: 700;
    color: white;
    letter-spacing: .4vw;
    margin-bottom: 1vw;
}

.juego p {
    color: white;
}

.juego img {
    width: 100%;
    height: auto;
}

.juego:hover .juego-descripcion {
    bottom: 0
}

.juego-descripcion {
    position: absolute;
    bottom: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;

}

.empresa-info {
    width: 100vw;
    padding: 3vw 2vw;
    box-sizing: border-box;
    margin-bottom: 2vw;
    overflow: hidden;
}

.empresa-info img {
    float: left;
    width: 22vw;
    max-width: 22vw;
    margin-right: 3vw;
}

.empresa-descripcion {
    float: left;
    width: calc(100vw - 22vw - 3vw - 4vw); /* 4vw for left/right padding */
    color: black;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.5vw;
    line-height: 2vw;
}

@keyframes aparecerDesdeAbajo {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0;
    }
}